/* Map.css */

/* Style pour la carte */
/* Map.css */
.map-container {
  height: 100vh; /* 100% de la hauteur de la vue (écran) */
  width: 100%; /* 100% de la largeur de la vue (écran) */
}

.radar-marker {
  background-color: #ff5733; /* Couleur de fond du marqueur */
  border: 2px solid #d62828; /* Bordure du marqueur */
  border-radius: 50%; /* Forme du marqueur (cercle) */
  width: 30px;
  height: 30px;
}

.radar-popup {
  background-color: #fff; /* Couleur de fond de la popup */
  padding: 10px; /* Espacement interne de la popup */
  border: 1px solid #333; /* Bordure de la popup */
}
